<html>
  <head>
    <title>{{ .Title }}</title>
    <meta charset="UTF-8">
    <style media="screen">
      body {
        margin: 0;
        font-family: 'Open Sans', sans-serif;
      }
      main {
        margin: 2vh;
        min-height: 96vh;
        background-color: #0095ff;
        background-image:
          linear-gradient(
            to bottom right,
            #0095ff, #00ff72
          );
      }
      .content {
        padding-top: 35vh;
        text-align: center;
        color: white;
      }
      h1 {
        font-size: 4em;
        margin: .2em;
      }
      p {
        font-weight: bold;
      }
      a {
        color: #005a9a;
      }
      ul {
        margin: 1em 0;
        padding: 0;
      }
      li {
        padding: .25em 0;
      }
    </style>
  </head>
  <body>
    <main>
      <div class="content">
        <img src="/static/go-landing.png" width="180" height="193" alt="go-landing logo" />
        <h1>{{ .Title }}</h1>
        {{ $length := len .Links }}{{ if gt $length 0 }}
        <ul>
        {{range $link := .Links }}
            <li><a href="{{ $link.Url }}">{{ $link.Title }}</a></li>
        {{ end }}
        </ul>
        {{ end }}
        <p>{{ .Description }}</p>
      </div>
    </main>
  </body>
</html>
